Code for cleanning and preparing the daily surveys data

In [3]:
from __future__ import absolute_import, division, print_function
import datetime
import time
import os

import pandas as pd

In [4]:
import sys
sys.path.insert(0, '../../src/data/')

from config import *

# Config

# read

In [5]:
df_performance_milestones_anon = pd.read_hdf(performance_anon_store_path, 'performance/milestones_anon')

In [7]:
df_performance_milestones_anon.head()

,m1_meeting1,m1_revenue,m1_rank,m2_meeting1_recovered,m2_meeting2,m2_revenue,m2_rank,m12_meeting1,m12_meeting2,m12_total,...,m3_meeting2_recovered,m3_meeting3,m3_revenue,m3_rank,m123_meeting1,m123_meeting2,m123_meeting3,m123_total,m123_rank,company
0,0.76,"5,285.00",6,0.05,0.79,"5,845",12,0.80,0.79,"11,130.00",...,0.00,0.85,"5,100.00",6,0.80,0.79,0.85,"16,230.00",12,Company L
1,0.50,"3,500.00",18,0.15,0.50,"4,550",19,0.65,0.50,"8,050.00",...,0.20,0.00,0.00,20,0.65,0.70,0.00,"8,050.00",20,Company J
2,0.70,"4,900.00",12,0.30,0.75,"7,350",2,1.00,0.75,"12,250.00",...,0.20,0.70,"4,200.00",16,1.00,0.95,0.70,"16,450.00",10,Company H
3,0.50,"3,500.00",18,0.30,0.65,"6,650",8,0.80,0.65,"10,150.00",...,0.40,0.80,"4,800.00",10,0.80,1.05,0.80,"14,950.00",14,Company I
4,0.40,"2,800.00",20,0.30,0.40,"4,900",18,0.70,0.40,"7,700.00",...,0.15,0.70,"4,200.00",16,0.70,0.55,0.70,"11,900.00",19,Company S

In [9]:
df_performance_milestones_anon.dtypes

m1_meeting1               float64
m1_revenue                 object
m1_rank                     int64
m2_meeting1_recovered     float64
m2_meeting2               float64
m2_revenue                 object
m2_rank                     int64
m12_meeting1              float64
m12_meeting2              float64
m12_total                  object
m12_rank                    int64
m3_meeting1_recovered     float64
m3_meeting2_recovered     float64
m3_meeting3               float64
m3_revenue                 object
m3_rank                     int64
m123_meeting1             float64
m123_meeting2             float64
m123_meeting3             float64
m123_total                 object
m123_rank                   int64
company                    object
dtype: object

In [14]:
df_performance_milestones_anon['m123_total'] = df_performance_milestones_anon['m123_total'].str.replace(',', '').astype(float)

In [16]:
df_performance_milestones_anon

,m1_meeting1,m1_revenue,m1_rank,m2_meeting1_recovered,m2_meeting2,m2_revenue,m2_rank,m12_meeting1,m12_meeting2,m12_total,...,m3_meeting2_recovered,m3_meeting3,m3_revenue,m3_rank,m123_meeting1,m123_meeting2,m123_meeting3,m123_total,m123_rank,company
0,0.76,"5,285.00",6,0.05,0.79,"5,845",12,0.80,0.79,"11,130.00",...,0.00,0.85,"5,100.00",6,0.80,0.79,0.85,16230.0,12,Company L
1,0.50,"3,500.00",18,0.15,0.50,"4,550",19,0.65,0.50,"8,050.00",...,0.20,0.00,0.00,20,0.65,0.70,0.00,8050.0,20,Company J
2,0.70,"4,900.00",12,0.30,0.75,"7,350",2,1.00,0.75,"12,250.00",...,0.20,0.70,"4,200.00",16,1.00,0.95,0.70,16450.0,10,Company H
3,0.50,"3,500.00",18,0.30,0.65,"6,650",8,0.80,0.65,"10,150.00",...,0.40,0.80,"4,800.00",10,0.80,1.05,0.80,14950.0,14,Company I
4,0.40,"2,800.00",20,0.30,0.40,"4,900",18,0.70,0.40,"7,700.00",...,0.15,0.70,"4,200.00",16,0.70,0.55,0.70,11900.0,19,Company S
5,0.65,"4,550.00",14,0.10,0.65,"5,250",15,0.75,0.65,"9,800.00",...,0.10,0.65,"3,900.00",18,0.75,0.75,0.65,13700.0,18,Company R
6,0.78,"5,425.00",11,0.13,0.75,"6,125",11,0.90,0.75,"11,550.00",...,0.08,0.82,"4,920.00",9,0.90,0.83,0.82,16470.0,9,Company N
7,0.80,"5,600.00",2,0.00,0.75,"5,250",15,0.80,0.75,"10,850.00",...,0.15,0.98,"5,880.00",1,0.80,0.90,0.98,16730.0,7,Company P
8,0.60,"4,200.00",16,0.09,0.72,"5,670",13,0.69,0.72,"9,870.00",...,0.25,0.78,"4,680.00",14,0.69,0.97,0.78,14550.0,17,Company E
9,0.65,"4,550.00",14,0.35,0.75,"7,700",1,1.00,0.75,"12,250.00",...,0.20,0.60,"3,600.00",19,1.00,0.95,0.60,15850.0,13,Company C
10,0.80,"5,600.00",2,0.20,0.85,"7,350",2,1.00,0.85,"12,950.00",...,0.35,0.80,"4,800.00",10,1.00,1.20,0.80,17750.0,3,Company A
11,0.60,"4,200.00",16,0.10,0.70,"5,600",14,0.70,0.70,"9,800.00",...,0.11,0.85,"5,100.00",6,0.70,0.81,0.85,14900.0,15,Company O
12,0.80,"5,600.00",2,0.20,0.70,"6,300",9,1.00,0.70,"11,900.00",...,0.20,0.80,"4,800.00",10,1.00,0.90,0.80,16700.0,8,Company B
13,0.75,"5,250.00",7,0.15,0.85,"7,000",5,0.90,0.85,"12,250.00",...,0.04,0.93,"5,580.00",1,0.90,0.89,0.93,17830.0,2,Company Z
14,0.75,"5,250.00",7,0.25,0.75,"7,000",5,1.00,0.75,"12,250.00",...,0.00,0.78,"4,680.00",14,1.00,0.75,0.78,16930.0,6,Company M
15,0.87,"6,090.00",1,0.06,0.90,"6,685",7,0.93,0.90,"12,775.00",...,0.25,0.85,"5,100.00",6,0.93,1.15,0.85,17875.0,1,Company F
16,0.75,"5,250.00",7,0.15,0.75,"6,300",9,0.90,0.75,"11,550.00",...,0.00,0.90,"5,400.00",3,0.90,0.75,0.90,16950.0,5,Company D
17,0.70,"4,900.00",13,0.15,0.50,"4,550",19,0.85,0.50,"9,450.00",...,0.05,0.90,"5,400.00",3,0.85,0.55,0.90,14850.0,16,Company Q
18,0.80,"5,600.00",2,0.05,0.70,"5,250",15,0.85,0.70,"10,850.00",...,0.35,0.90,"5,400.00",3,0.85,1.05,0.90,16250.0,11,Company K
19,0.75,"5,250.00",7,0.15,0.90,"7,350",2,0.90,0.90,"12,600.00",...,0.25,0.80,"4,800.00",10,0.90,1.15,0.80,17400.0,4,Company G

# Store

In [15]:
with pd.HDFStore(performance_clean_store_path) as store:
    store.put('performance/milestones', df_performance_milestones_anon, format='table')